{% extends "admin/delete_selected_confirmation.html" %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; Mapper les champs bruts à des champs à enrichir
</div>
{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  <input type="hidden" name="perform_auto_enrich" value="1">
  <input type="hidden" name="action" value="perform_auto_enrich">
  <input type="hidden" name="select_across" value="{{ select_across }}">
  <input type="hidden" name="index" value="{{ index }}">
  {% for pk in pks %}
    <input type="hidden" name="_selected_action" value="{{ pk }}">
  {% endfor %}
  <table>
    <thead><tr><th>Champ brut</th><th>Champ à enrichir</th></tr></thead>
    <tbody>
    {% for key in raw_data_keys %}
      <tr>
        <td>{{ key }}</td>
        <td>
          <label for="select-{{ key }}">Champ à associer</label>
          <select id="select-{{ key }}" name="map-{{ key }}">
            <option selected>Aucun</option>
            {% for field in aide_fields %}
              <option value="{{ field.field.name }}">{{ field.field.verbose_name }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <button type="submit">Envoyer</button>
</form>
{% endblock content %}
