{% extends "ui/base.html" %}

{% load static dsfr_tags ui_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'aides/aide_detail.css' %}">
<link rel="stylesheet" href="{% static 'aides_feedback/base.css' %}">
{% endblock extra_css %}

{% block extra_head_js %}
<script nonce="{{ request.csp_nonce }}">
document.onreadystatechange = evt => {
  document.getElementById("button-print").onclick = () => window.print()
}
</script>
{% endblock extra_head_js %}

{% block title %}{{ object.nom }}{% endblock title %}

{% block other_notices %}
  {% if not object.is_published %}
    {% dsfr_notice type="warning" description="Ceci est une prévisualisation de la fiche d’aide. Elle n’est pas publiée. Tu la vois parce que tu es connecté⋅e à l’outil d’édition des aides." %}
  {% endif %}
{% endblock other_notices %}

{% block content %}
  <div class="fr-container--fluid" id="aide">
    <div class="fr-grid-row fr-mb-3w">
      <div class="fr-col fr-col-8">
        <div>
          <img src="{{ object.organisme.get_logo_url }}" alt="" class="fr-responsive-img">
        </div>
        {% for type_aide in object.types.all %}
          {% dsfr_badge label=type_aide.nom extra_classes="fr-badge--icon-left fr-badge--sm  fr-icon-"|add:type_aide.icon_name|add:"-fill" %}
        {% endfor %}
        <h1 class="fr-h2 fr-mt-1w">{{ object.nom }}</h1>
        <div class="fr-tags-group">
          {% dsfr_tag label=object.organisme.nom extra_classes="fr-tag--sm" %}
          {% for sujet in object.sujets.all %}
            {% dsfr_tag label=sujet.nom_court extra_classes="fr-tag--sm" %}
          {% endfor %}
        </div>
        <button type="button"
                class="fr-btn fr-icon--md fr-btn--sm fr-btn--tertiary fr-icon-file-pdf-line"
                id="button-print"
                data-action="click->matomo#trackEvent"
                data-event-page="Aide"
                data-event-name="Impression"
        >
          Télécharger cette fiche
        </button>
      </div>
      <div class="fr-col fr-col-4"></div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col fr-col-12 fr-col-md-8 fr-pr-3w fr-py-0">
        <p class="fr-background-default--grey fr-border-plain--blue-france fr-p-2w fr-text--bold">
          {{ object.promesse }}
        </p>
        <p>
          {% if aide.date_fin %}Date d’échéance :
            <time datetime="{{ aide.date_fin|date:"c" }}">{{ aide.date_fin|date:"SHORT_DATE_FORMAT" }}</time>
          {% endif %}
        </p>
        <h2 class="fr-h6 fr-text-action-high--blue-france fr-icon-arrow-right-circle-fill fr-icon--md fr-mb-2w">Description</h2>
        <p>
          {{ object.description_de_base|ui_markdown|safe }}
          {{ object.description|ui_markdown|safe }}
          {% if object.url_descriptif and object.url_descriptif != object.url_demarche %}
            <a class="fr-btn fr-btn--primary fr-mb-1w"
               target="_blank"
               href="{{ object.url_descriptif }}"
               data-action="click->matomo#trackEvent"
               data-event-page="Aide"
               data-event-name="Lien descriptif"
            >
              Voir le détail
            </a>
          {% endif %}
        </p>
        {% if object.montant %}
          <h2 class="fr-h6 fr-text-action-high--blue-france fr-icon-checkbox-circle-fill fr-icon--md fr-mb-2w">Montant ou taux de l’aide</h2>
          <p>{{ object.montant|ui_markdown|safe }}</p>
        {% endif %}
        {% if object.participation_agriculteur %}
          <h2 class="fr-h6 fr-text-action-high--blue-france fr-icon-checkbox-circle-fill fr-icon--md fr-mb-2w">Participation ou coût pour les bénéficiaires</h2>
          <p>{{ object.participation_agriculteur|ui_markdown|safe }}</p>
        {% endif %}
        {% if object.exemple_projet %}
          <h2 class="fr-h6 fr-text-action-high--blue-france fr-icon-checkbox-circle-fill fr-icon--md fr-mb-2w">Exemple de projet ou d’application</h2>
          <p>{{ object.exemple_projet|ui_markdown|safe }}</p>
        {% endif %}
        {% if object.etapes %}
          <h2 class="fr-h6 fr-text-action-high--blue-france fr-icon-checkbox-circle-fill fr-icon--md fr-mb-2w">Étapes</h2>
          <p>{{ object.etapes|ui_markdown|safe }}</p>
        {% endif %}
      </div>
      <div class="fr-col fr-col-12 fr-col-md-4 fr-py-3w fr-px-4w fr-background-alt--blue-ecume">
        <h2 class="fr-h6 fr-text-action-high--blue-france fr-icon-checkbox-circle-fill fr-icon--md fr-mb-2w">Critères d'éligibilité</h2>
        <div class="fr-text--sm" id="conditions">
          {{ object.conditions|ui_markdown|safe }}
          {% if object.eligibilite_effectif_min or object.eligibilite_effectif_max %}
            <h3 class="fr-text--bold fr-text--md">Effectifs salariés :</h3>
            <ul>
            {% if object.eligibilite_effectif_min %}
              <li>Au moins {{ object.eligibilite_effectif_min }}</li>
            {% endif %}
            {% if object.eligibilite_effectif_max %}
              <li>Au plus {{ object.eligibilite_effectif_max }}</li>
            {% endif %}
            </ul>
          {% endif %}
          {% if object.type_depense %}
            <h3 class="fr-text--bold fr-text--md">Dépenses éligibles :</h3>
            {{ object.type_depense|ui_markdown|safe }}
          {% endif %}
          {% if object.eligibilite_cumulable %}
            <h3 class="fr-text--bold fr-text--md">Cette aide est-elle cumulable avec d’autres dispositifs ?</h3>
            {{ object.eligibilite_cumulable|ui_markdown|safe }}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters fr-mt-4w">
      <div class="fr-col fr-col-12 fr-py-3w fr-px-4w fr-background-alt--blue-ecume">
        <h2 class="fr-h6 fr-text-action-high--blue-france fr-icon-checkbox-circle-fill fr-icon--md fr-mb-2w">Contacts</h2>
        <p class="fr-text--sm">
          {{ object.contact|ui_markdown|safe }}
          {% if object.url_demarche %}
            <a class="fr-btn fr-btn--primary fr-mb-1w"
               target="_blank"
               href="{{ object.url_demarche }}"
               data-action="click->matomo#trackEvent"
               data-event-page="Aide"
               data-event-name="Lien démarche"
            >
              Déposer mon dossier
            </a>
          {% endif %}
        </p>
      </div>
    </div>
  </div>

  <div class="fr-container fr-mt-4w">
    {% include "aides_feedback/blocks/create_feedback_on_aides.html" with form=create_feedback_on_aides_form %}
  </div>
{% endblock content %}
