{% load i18n dsfr_tags %}

<fieldset class="fr-checkbox-group-field fr-fieldset"
     data-controller="checkbox-group-field"
     data-checkbox-group-field-required-value="{{ self.required }}"
>
  <legend class="fr-label fr-mb-2v">{{ self.label }}</legend>
  <div class="fr-container--fluid">
    <div class="fr-checkbox-group fr-grid-row fr-mt-2v">
      {% for value, label, label_long in self.options %}
      <div class="fr-col fr-col-12 fr-col-md-6 fr-mb-2w">
        <input id="checkbox-regroupements-{{ value }}" type="checkbox" name="{{ self.name }}" value="{{ value }}">
        <label for="checkbox-regroupements-{{ value }}">
          {{ label }}
          {% if label_long %}
            <button type="button"
                    class="fr-btn--tooltip fr-btn"
                    aria-describedby="tooltip-{{ self.name }}-{{ value }}"
            >
              {% translate "Contextual information" %}
            </button>
            <span class="fr-tooltip fr-placement"
                  id="tooltip-{{ self.name }}-{{ value }}"
                  role="tooltip"
                  aria-hidden="true"
            >
              {{ label_long }}
            </span>
          {% endif %}
        </label>
      </div>
      {% endfor %}
    </div>
  </div>
  <p class="fr-error-text fr-hidden fr-mt-1v" data-checkbox-group-field-target="error">
    {{ self.required_error_message|default:"Ce champ est requis." }}
  </p>
</fieldset>
