{% load dsfr_tags %}

<fieldset class="fr-select-rich fr-fieldset fr-select-group {{ self.extra_classes }}"
     id="select-rich-{{ self.name }}"
     data-controller="select-rich"
     data-select-rich-name-value="{{ self.name }}"
     data-select-rich-multi-value="{% if self.multi %}true{% else %}false{% endif %}"
     data-select-rich-required-value="{% if self.required %}true{% else %}false{% endif %}"
>
  <legend class="fr-label">
    {{ self.label }}
    {% if self.helper %}
    <span class="fr-hint-text fr-info-text" data-select-rich-target="helper">{{ self.helper }}</span>
    {% endif %}
  </legend>

  {% if self.with_tags %}
    <div class="fr-select-rich__tags fr-tags-group" data-select-rich-target="tags">
      <button type="button"
              class="fr-btn fr-btn--tertiary fr-btn--sm fr-btn--icon-left fr-icon-add-line"
              data-action="click->select-rich#show"
              data-select-rich-target="addButton"
      >
        {{ self.add_button_label|default:"Ajouter" }}
      </button>
    </div>
  {% endif %}

  <button type="button"
          class="fr-select"
          data-select-rich-target="button"
          aria-controls="select-rich-{{ self.name }}-entries"
          aria-expanded="false"
  >
    {% if self.button_text %}
      {{ self.button_text }}
    {% elif self.multi %}
      Sélectionnez une ou plusieurs options
    {% else %}
      Sélectionnez une option
    {% endif %}
  </button>
  <div class="fr-collapse fr-menu {% if self.multi %}fr-checkbox-group{% endif %}"
            data-select-rich-target="entries"
            id="select-rich-{{ self.name }}-entries"
  >
    {% if self.searchable %}
      <div class="{% if self.search_url %}fr-search-bar{% else %}fr-input-group{% endif %} fr-my-2w" role="search">
        <label class="fr-label {% if not self.search_url %}fr-sr-only{% endif %}"
               for="select-rich-search-{{ self.name }}"
        >
          Rechercher
        </label>
        {% if not self.search_url %}<div class="fr-input-wrap fr-icon-search-line">{% endif %}
        <input type="search"
               id="select-rich-search-{{ self.name }}"
               class="fr-input"
               placeholder="{{ self.search_placeholder|default:'Rechercher' }}"
               autocomplete="false"
               {% if self.search_url %}
               name="{{ self.search_field_name|default_if_none:'q' }}"
               onchange="event.stopPropagation()"
               data-action="focus->select-rich#toggleExternalSearchFocus blur->select-rich#toggleExternalSearchFocus"
               {% else %}
               data-select-rich-target="search"
               data-action="input->select-rich#search focus->select-rich#focus"
               {% endif %}
        >
        {% if not self.search_url %}</div>{% endif %}
        {% if self.search_url %}
        <button type="submit" class="fr-btn"
                hx-get="{% url self.search_url %}{% querystring with_tags=self.with_tags %}"
                hx-target="#select-rich-options-{{ self.name }}"
                hx-include="#select-rich-search-{{ self.name }}"
                hx-disabled-elt="this"
                data-select-rich-target="searchButton"
                data-action="click->select-rich#externalSearch"
        >
          Rechercher
        </button>
        {% endif %}
      </div>
    {% endif %}
    <div id="select-rich-options-{{ self.name }}"
         class="select-rich__options fr-mt-2w"
    >
    {% if self.options %}
      {% include "ui/components/blocks/select_rich_options.html" with options=self.options self=self only %}
    {% elif self.search_url %}
      <p class="fr-info-text">Recherchez des options dans le champ ci-dessus</p>
    {% endif %}
    </div>
  </div>

  <p class="fr-error-text fr-hidden" data-select-rich-target="error">
    {{ self.required_error_message|default:"Ce champ est requis" }}
  </p>
</fieldset>