{% load dsfr_tags %}

<div class="fr-searchbar-suggest" id="select-multi-suggest-{{ self.id }}" data-controller="suggest">
  <div class="fr-tags-group fr-mb-2v" data-suggest-target="tags">
  {% for value, label in self.initials.items %}
    {% include "ui/components/blocks/select_multi_suggest_option.html" with name=self.name value=value label=label only %}
  {% endfor %}
  </div>

  <div {% if not self.show_label %}class="fr-search-bar"{% endif %} role="search">
    <label class="fr-label" for="suggest-{{ self.id }}-input">
      {{ self.label }}
    </label>
    <input type="search" id="suggest-{{ self.id }}-input"
           class="fr-input fr-icon-search-line" placeholder="{{ self.placeholder }}"
           data-suggest-target="search"
           data-action="input->suggest#search focus->suggest#focus"
    >
  </div>
  <ul class="fr-dropdown fr-hidden" data-suggest-target="options">
  {% for value, labels in self.options.items %}
    <li class="fr-dropdown__item" data-suggest-target="option">
      <button type="button" class="fr-btn fr-btn--tertiary-no-outline fr-dropdown__entry"
              data-action="click->suggest#choose"
      >
        {{ labels.long }}
      </button>
      <div class="fr-hidden">
        {% include "ui/components/blocks/select_multi_suggest_option.html" with name=self.name value=value label=labels.short disabled=True only %}
      </div>
    </li>
  {% endfor %}
  </ul>
</div>