{% extends "dsfr/base.html" %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'ui/base.css' %}">

  {% if SENTRY_DSN %}{% include "ui/blocks/sentry.html" %}{% endif %}
  {% if MATOMO_SITE_ID %}{% include "ui/blocks/matomo.html" %}{% endif %}
{% endblock extra_css %}

{% block breadcrumb %}{% endblock %}

{% block header %}
  {% include "ui/blocks/header.html" %}
{% endblock header %}

{% block footer %}
  {% include "ui/blocks/footer.html" %}
{% endblock footer %}
