.fr-h6.fr-btn--icon-left::before {
  --icon-size: 1.5rem;
}

.fr-heading--soft {
  color: #6a6af4 !important;
}

a.fr-tag[aria-pressed=true] {
  background-color: transparent;
  background-image: radial-gradient(circle at 100% .25rem,transparent .578125rem,var(--background-active-blue-france) .625rem);
  color: var(--text-inverted-blue-france);
}

a.fr-tag[aria-pressed=true]:hover {
  background-image: radial-gradient(circle at 100% .25rem,transparent .578125rem,var(--background-active-blue-france-hover) .625rem);
}

a.fr-tag[aria-pressed=true]::after {
  color: var(--text-action-high-blue-france);
}

@media screen and (max-width: 576px) {
  body > div.fr-container {
    margin-top: 0 !important;
  }

  h1 {
    margin-bottom: 0;
  }

  #left-column {
    position: relative;
  }

  #summary {
    position: absolute;
    width: 285px;
    top: -20px;
    left: -293px;
    filter: none;
    background-color: var(--artwork-decorative-blue-france);
    padding: .5rem .5rem .5rem 2.5rem !important;
    transition: left ease .3s;
  }

  #btn-toggle-summary {
    max-width: none;
    max-height: none;
    width: 42px;
    height: 65px;
    padding-top: 4px;
    padding-left: 12px;
    background-image: url("images/bg-summary-mobile-button.svg");
    position: absolute;
    left: 278px;
    top: 0;
  }
}
