#intro {
  background-image: url("images/home/illustration_baseline.svg"),
                    url("images/home/illustration_baseline_bg.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 230px 193px, 266px 246px;
  background-position: top right -80px;
  padding-top: 4rem;
  max-width: 1440px;
  margin: auto;
}

#baseline {
  text-wrap: balance;
}

#baseline h1 {
  font-size: 32px;
  line-height: 40px;
  color:var(--text-title-grey);
}

#baseline h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

#proposition {
  background-color: var(--background-default-grey);
  box-shadow: var(--lifted-shadow);
}

#proposition h3, #conseillers-entreprise h3, #cta-more-themes {
  text-align: center;
}

#projet .fr-tile--horizontal .fr-tile__img {
  width: 0;
  margin: 0;
}

#projet .fr-tile--horizontal .fr-tile__content {
  padding-bottom: 0;
}

#projet .fr-tile--horizontal .fr-tile__link::after {
  content: none;
}

#conseillers-entreprise .illustration {
  background-image: url("images/home/illustration_conseillers_entreprise.svg");
  background-repeat: no-repeat;
  height: 301px;
}

@media (min-width:62em) {
  #intro {
    background-size: auto;
    background-position: top 53px right 120px, bottom right;
    min-height: 737px;
  }

  #baseline h1 {
    font-size: 48px;
    line-height: 56px;
    color:var(--text-title-grey);
  }

  #baseline h2 {
    font-size: 28px;
    line-height: 36px;
  }

  #baseline > div {
    padding-top: 10rem !important;
  }
}
