#aide .fr-responsive-img {
  width: 150px;
}

#metadata .fr-col {
  border: 2px solid var(--grey-1000-50);
}

#conditions {
  background-color: var(--background-default-grey);
  box-shadow: var(--lifted-shadow);
}

.fr-icon-arrow-right-down-circle-fill:before {
  rotate: -45deg;
}

.fr-col.fr-m-auto {
  text-align: center;
}

@media print {
  #footer,
  .fr-breadcrumb,
  .fr-btn,
  #product-space {
    display: none;
  }
}
