#aide .fr-responsive-img {
  width: 150px;
}

#metadata .fr-col {
  border: 2px solid var(--grey-1000-50);
}

#conditions p {
  font-size: 14px;
}

.fr-h6.fr-icon--md::before {
  margin-right: 12px;
}

.fr-col.fr-m-auto {
  text-align: center;
}

@media print {
  #footer,
  .fr-breadcrumb,
  .fr-btn,
  #aides-feedback {
    display: none;
  }
}
