html {
  scroll-behavior: smooth;
}

.fr-breadcrumb {
  margin-bottom: 1rem;
}

.fr-grid-row.fr-grid-row--space-between {
  justify-content: space-between;
}

.fr-grid-row.fr-grid-row--reverse {
  flex-direction: row-reverse;
}

.fr-icon-identity-fill::after,
.fr-icon-identity-fill::before {
  -webkit-mask-image:url("icons/fr--identity-fill.svg");
  mask-image:url("icons/fr--identity-fill.svg");
}

.fr-icon-seedling-fill::after,
.fr-icon-seedling-fill::before {
  -webkit-mask-image:url("icons/fr--seedling-fill.svg");
  mask-image:url("icons/fr--seedling-fill.svg");
}

@media (hover: hover) and (pointer: fine) {
  .fr-enlarge-link:hover {
    background-color: var(--hover) !important;
  }

  .fr-enlarge-link:active {
    background-color: var(--active) !important;
  }
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}
