html {
  scroll-behavior: smooth;
}

.fr-breadcrumb {
  margin-bottom: 1rem;
}

.fr-grid-row.fr-grid-row--space-between {
  justify-content: space-between;
}

.fr-grid-row.fr-grid-row--reverse {
  flex-direction: row-reverse;
}

.fr-print-only {
  display: none !important;
}

@media (hover: hover) and (pointer: fine) {
  .fr-enlarge-link:hover {
    background-color: var(--hover) !important;
  }

  .fr-enlarge-link:active {
    background-color: var(--active) !important;
  }
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

@media print {
  .fr-print-only {
    display: inherit !important;
  }
}
