{% extends "ui/base.html" %}

{% load dsfr_tags static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'agri/base.css' %}">
{% endblock extra_css %}

{% block importmap %}
<script type="importmap">
{
  "imports": {
      "sentry": "{% static 'vendor/sentry.js' %}",
      "stimulus": "{% static 'vendor/stimulus.js' %}",
      "dsfr-form": "{% static 'ui/controllers/dsfr_form.js' %}",
      "checkbox-group-field": "{% static 'ui/components/checkbox-group-field.js' %}",
      "select-rich": "{% static 'ui/components/select-rich.js' %}",
      "summary-mobile": "{% static 'agri/summary-mobile.js' %}"
  }
}
</script>
{% endblock importmap %}

{% block content_wrapper %}
  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--reverse">
    {# main column #}
    {% block main_col %}
    <main id="content" role="main" aria-label="Contenu"
          class="fr-col fr-col-12 fr-col-md-6 fr-col-offset-md-3--right"
    >
      {% if stepper %}{% dsfr_stepper stepper heading_tag="h1" %}{% endif %}

      {% block main_col_content %}{% endblock main_col_content %}
      {% block main_col_footer %}{% endblock main_col_footer %}
    </main>
    {% endblock main_col %}

    {# left column #}
    <div id="left-column" class="fr-col fr-col-0 fr-col-md-3">
      {% if summary_theme or summary_sujets %}
      <aside id="summary"
             role="note"
             aria-labelledby="summary-label"
             class="fr-card--shadow fr-px-md-5v fr-py-md-4v fr-text--sm"
             data-controller="summary-mobile"
      >
        <h2 class="fr-sr-only" id="summary-label">Rappel des informations saisies</h2>
        <h3 class="fr-text--bold fr-text--md fr-mb-3v">Votre besoin :</h3>
        <dl class="fr-p-0 summary-dl">
          <dt class="fr-sr-only">Thème</dt>
          <dd class="fr-tag fr-tag--sm">{{ summary_theme.nom_court }}</dd>
          {% if summary_sujets %}
            <dt class="fr-sr-only">Sujets</dt>
            <span class="fr-tags-group">
              {% for sujet in summary_sujets %}
                <dd class="fr-tag fr-tag--sm">{{ sujet.nom_court }}</dd>
              {% endfor %}
            </span>
        </dl>
        <div>
          <a class="fr-btn fr-btn--tertiary fr-link--sm fr-px-2w" href="{% url 'agri:step-2' %}{% querystring sujets=None next=request.path %}">
            Explorer d’autres besoins
          </a>
        </div>
          {% endif %}
        {% if summary_siret %}
          <h3 class="fr-text--bold fr-text--md fr-my-3v">Votre exploitation et activités :</h3>
          <dl class="fr-p-0 summary-dl">
            <dt class="fr-sr-only">Numéro de Siret</dt>
            <dd class="fr-tag fr-tag--sm">Siret {{ summary_siret }}</dd>
          {% if summary_commune %}
            <dt class="fr-sr-only">Commune</dt>
            <dd class="fr-tag fr-tag--sm">{{ summary_commune.nom }}</dd>
          {% endif %}
          {% if summary_effectif %}
            <dt class="fr-sr-only">Filières</dt>
            <dd class="fr-tag fr-tag--sm">{{ summary_effectif }}</dd>
          {% endif %}
          {% if summary_filieres %}
            <dt class="fr-sr-only">Filières</dt>
            <span class="fr-tags-group">
            {% for filiere in summary_filieres %}
              <dd class="fr-tag fr-tag--sm">{{ filiere.nom }}</dd>
            {% endfor %}
            </span>
          {% endif %}
          {% if summary_regroupements %}
            <dt class="fr-sr-only">Regroupements</dt>
            <span class="fr-tags-group fr-mt-n2v">
            {% for regroupement in summary_regroupements %}
              <dd class="fr-tag fr-tag--sm">{{ regroupement.nom }}</dd>
            {% endfor %}
            </span>
          {% endif %}
          <div>
            <a class="fr-btn fr-btn--tertiary fr-link--sm fr-px-2w" href="{% url 'agri:step-3' %}{% querystring siret=None commune=None date_installation=None regroupements=None filieres=None tranche_effectif_salarie=None %}">
              Modifier
            </a>
          </div>
        {% endif %}
        <button type="button"
                class="fr-btn fr-btn--tertiary-no-outline fr-icon-arrow-right-line fr-hidden-sm"
                id="btn-toggle-summary"
                aria-controls="summary"
                data-action="click->summary-mobile#toggle"
        >
          Voir le résumé
        </button>
      </aside>
      {% endif %}
    </div>
  </div>
  {% block aftercontent %}{% endblock aftercontent %}
{% endblock content_wrapper %}
