{% extends "ui/base.html" %}

{% load dsfr_tags static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'agri/base.css' %}">
{% endblock extra_css %}

{% block breadcrumb %}{% endblock %}

{% block content %}
  <div class="fr-grid-row fr-grid-row--gutters">
    {# main column, nothing in left column #}
    <div class="fr-col fr-col-0 fr-col-md-3"></div>
    <div class="fr-col fr-col-12 fr-col-md-9">
      <h1>{% block h1 %}{% endblock h1 %}</h1>
    </div>
  </div>

  <div class="fr-grid-row fr-grid-row--gutters">
    {# left column #}
    <div id="left-column" class="fr-col fr-col-0 fr-col-md-3">
      {% if summary_theme or summary_sujets %}
      <aside id="summary" class="fr-card--shadow fr-px-md-5v fr-py-md-4v fr-text--sm"
             data-controller="summary-mobile"
      >
        {% block aside_tools %}{% endblock aside_tools %}

        <div class="fr-h6 fr-mb-3v">Votre projet</div>
        <div class="fr-mb-3v">
          <span>Thème :</span>
          {% dsfr_tag label=summary_theme.nom_court extra_classes="fr-tag--sm" %}
        </div>
        {% if summary_sujets %}
          <div class="fr-mb-3v">
            <span class="fr-tags-group fr-px-1v">
              Sujets :
              {% for sujet in summary_sujets %}
                {% dsfr_tag label=sujet.nom_court extra_classes="fr-tag--sm" %}
              {% endfor %}
            </span>
          </div>
          <div class="fr-mb-3v">
            <a class="fr-link fr-link--sm" href="{% url 'agri:step-2' %}{% querystring sujets=None siret=None commune=None date_installation=None regroupements=None nafs=None tranche_effectif_salarie=None %}">
              Explorer d’autres sujets
            </a>
          </div>
        {% endif %}
        {% if summary_siret %}
          <div class="fr-h6 fr-mb-3v">Votre exploitation</div>
          <div class="fr-mb-3v">
            <span>SIRET :</span>
            {% dsfr_tag label=summary_siret extra_classes="fr-tag--sm" %}
          </div>
          {% if summary_commune %}
          <div class="fr-mb-3v">
            <span>Commune :</span>
            {% dsfr_tag label=summary_commune.nom extra_classes="fr-tag--sm" %}
          </div>
          {% endif %}
          {% if summary_filieres %}
          <div class="fr-mb-3v">
            <span class="fr-tags-group fr-px-1v">
              Filières :
              {% for filiere in summary_filieres %}
                {% dsfr_tag label=filiere.nom extra_classes="fr-tag--sm" %}
              {% endfor %}
            </span>
          </div>
          {% endif %}
          {% if summary_date_installation %}
          <div class="fr-mb-3v">
            <span>Depuis :</span>
            {% dsfr_tag label=summary_date_installation|date:"SHORT_DATE_FORMAT" extra_classes="fr-tag--sm" %}
          </div>
          {% endif %}
          {% if summary_effectif %}
          <div class="fr-mb-3v">
            <span>Effectif :</span>
            {% dsfr_tag label=summary_effectif extra_classes="fr-tag--sm" %}
          </div>
          {% endif %}
          {% if summary_regroupements %}
          <div class="fr-mb-3v">
            <span class="fr-tags-group fr-px-1v">
              Regroupements :
              {% for regroupement in summary_regroupements %}
                {% dsfr_tag label=regroupement.nom extra_classes="fr-tag--sm" %}
              {% endfor %}
            </span>
          </div>
          {% endif %}
          <div>
            <a class="fr-link fr-link--sm" href="{% url 'agri:step-3' %}{% querystring siret=None commune=None date_installation=None regroupements=None nafs=None tranche_effectif_salarie=None %}">
              Modifier
            </a>
          </div>
        {% endif %}
        <button class="fr-btn fr-btn--tertiary-no-outline fr-icon-arrow-right-line fr-hidden-sm"
                id="btn-toggle-summary" aria-controls="summary"
                data-action="click->summary-mobile#toggle"
        >
          Voir le résumé
        </button>
      </aside>
      {% endif %}
    </div>

    {# main column #}
    {% block main_col %}
    <div class="fr-col fr-col-12 fr-col-md-6">
      {% if stepper %}{% dsfr_stepper stepper heading_tag="div" %}{% endif %}

      <h2 class="fr-h6">{% block h2 %}{% endblock %}</h2>
      {% block main_col_content %}{% endblock %}
    </div>
    {% endblock %}
  </div>
{% endblock content %}
