{% extends "agri/_base.html" %}

{% block main_col_content %}
<form id="form" action="{% if request.GET.next %}{{ request.GET.next }}{% else %}{% block action %}{% endblock action %}{% endif %}"
    {% block extra_form_attributes %}{% endblock extra_form_attributes %}
>

  {# previous steps fields hidden #}
  <input type="hidden" name="theme" value="{{ summary_theme.pk }}">
  {% for sujet in summary_sujets %}
    <input type="hidden" name="sujets" value="{{ sujet.pk }}">
  {% endfor %}
  {% if summary_siret %}
    <input type="hidden" name="siret" value="{{ summary_siret }}">
  {% endif %}
  {% if summary_commune %}
    <input type="hidden" name="commune" value="{{ summary_commune.numero }}">
  {% endif %}
  {% if summary_date_installation %}
    <input type="hidden" name="date_installation" value="{{ summary_date_installation|date:"c" }}">
  {% endif %}
  {% for filiere in summary_filieres %}
    <input type="hidden" name="filieres" value="{{ filiere.pk }}">
  {% endfor %}
  {% if code_effectif %}
    <input type="hidden" name="tranche_effectif_salarie" value="{{ code_effectif }}">
  {% endif %}
  {% for regroupement in summary_regroupements %}
    <input type="hidden" name="regroupements" value="{{ regroupement.pk }}">
  {% endfor %}

  <section class="fr-container fr-p-0 form-fields">
    {% block form %}{% endblock form %}
  </section>

  {% block form_buttons %}
  {# form buttons #}
  <section id="form-buttons" class="fr-container fr-p-0">
    <div class="fr-grid-row fr-grid-row--space-between">
      <button type="button" class="fr-btn fr-btn--secondary" onclick="history.back()">Retour</button>
      <button type="submit" class="fr-btn" aria-label="Valider">→</button>
    </div>
  </section>
  {% endblock form_buttons %}

</form>
{% endblock main_col_content %}
