{% extends "agri/_base.html" %}

{% block main_col_content %}
<form action="{% block action %}{% endblock action %}" {% block extra_form_attributes %}{% endblock extra_form_attributes %}>

  {# previous steps fields hidden #}
  <input type="hidden" name="theme" value="{{ summary_theme.pk }}">
  {% for sujet in summary_sujets %}
    <input type="hidden" name="sujets" value="{{ sujet.pk }}">
  {% endfor %}
  {% if summary_siret %}
    <input type="hidden" name="siret" value="{{ summary_siret }}">
  {% endif %}
  {% if summary_commune %}
    <input type="hidden" name="commune" value="{{ summary_commune.numero }}">
  {% endif %}
  {% if summary_date_installation %}
    <input type="hidden" name="date_installation" value="{{ summary_date_installation|date:"c" }}">
  {% endif %}
  {% for naf in codes_naf %}
    <input type="hidden" name="nafs" value="{{ naf }}">
  {% endfor %}
  {% if code_effectif %}
    <input type="hidden" name="tranche_effectif_salarie" value="{{ code_effectif }}">
  {% endif %}

  <section class="fr-container fr-p-0 fr-mb-4w form-fields">
    {% block form %}{% endblock form %}
  </section>

  {# action buttons #}
  <section class="fr-container fr-p-0">
    <div class="fr-grid-row fr-grid-row--space-between">
      <button type="button" class="fr-btn fr-btn--secondary" onclick="history.back()">Retour</button>
      <button type="submit" class="fr-btn" aria-label="Valider">→</button>
    </div>
  </section>

</form>
{% endblock main_col_content %}
