{% extends "ui/base.html" %}

{% load static dsfr_tags %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'agri/home.css' %}">
{% endblock extra_css %}

{% block extra_head_js %}
  <script type="module" src="{% static 'vendor/htmx.esm.js' %}"></script>
{% endblock extra_head_js %}

{% block pagetitle %}{{ SITE_CONFIG.site_title }}{% endblock pagetitle %}

{% block body %}
  {% dsfr_skiplinks skiplinks %}

  {% include 'ui/blocks/header.html' %}

  {% dsfr_theme_modale %}
  {% include 'agri/blocks/modal_feedback_themes_sujets.html' %}

  {% if SITE_CONFIG.notice_title or SITE_CONFIG.notice_description %}
    {% dsfr_notice title=SITE_CONFIG.notice_title description=SITE_CONFIG.notice_description link=SITE_CONFIG.notice_link type=SITE_CONFIG.notice_type icon=SITE_CONFIG.notice_icon_class is_collapsible=SITE_CONFIG.notice_is_collapsible %}
  {% endif %}

  <main id="content">
    <div class="fr-background-contrast--info fr-pb-8w">
      <div id="intro" class="fr-container--fluid">
        <div class="fr-container">
          <section class="fr-grid-row fr-mt-n1w" id="baseline">
            <div class="fr-col fr-col-lg-6 fr-pt-4w">
              <h1 class="fr-mb-md-6w">Agriculteurs :<br>un projet, une difficulté ?</h1>
              <h2 class="fr-mb-md-6w">{{ SITE_CONFIG.site_title }} vous oriente vers les dispositifs les plus pertinents pour votre exploitation : aide financière, formation, accompagnement, etc.</h2>
              <a class="fr-btn fr-btn--lg fr-mb-3w fr-mb-md-6w" href="#themes">Découvrez les dispositifs</a>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div>
      <div class="fr-container">
        <section id="proposition" class="fr-container fr-mt-n4w fr-mt-md-n12w fr-mb-6w fr-py-3w">
          <h3 class="fr-text-title--blue-france">{{ SITE_CONFIG.site_title }}, c’est :</h3>

          <ol class="fr-grid-row fr-grid-row--space-around">
            <li class="fr-col-12 fr-col-md-3 fr-py-3w fr-py-md-0 fr-px-3w fr-ml-3w fr-ml-md-0">
              <strong>Une centralisation des aides publiques</strong>
              à destination des agriculteurs mises à jour en continu.
            </li>
            <li class="fr-col-12 fr-col-md-3 fr-py-3w fr-py-md-0 fr-px-3w fr-ml-3w fr-ml-md-0">
              <strong>Une sélection personnalisée de dispositifs</strong>
              adaptée à votre situation.
            </li>
            <li class="fr-col-12 fr-col-md-3 fr-py-3w fr-py-md-0 fr-px-3w fr-ml-3w fr-ml-md-0">
              <strong>Une orientation</strong>
              vers les interlocuteurs pertinents pour déposer votre dossier.
            </li>
          </ol>
        </section>
      </div>
    </div>
    <div class="fr-background-contrast--info fr-py-4w">
      <div class="fr-container">
        <div id="themes" class="fr-grid-row fr-grid-row--center">
          <section class="fr-col fr-col-md-12">
            <h3 class="fr-h1">Quel est votre besoin ?</h3>
            <div class="fr-container--fluid">
              <div id="themes" class="fr-grid-row fr-grid-row--gutters">
                {% for url, theme in themes %}
                  <div class="fr-col-12 fr-col-sm-6">
                    {% if theme.urgence %}
                      {% dsfr_tile heading_tag="h5" title=theme.nom description=theme.description url=url image_path="/static/dsfr/dist/icons/system/alarm-warning-line.svg" extra_classes="fr-tile--horizontal fr-tile--with-icon" %}
                    {% else %}
                      {% dsfr_tile heading_tag="h5" title=theme.nom description=theme.description url=url extra_classes="fr-tile--horizontal" %}
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
              <div class="fr-grid-row--gutters">
                <div id="cta-feedback" class="fr-col fr-col-12 fr-col-md-6 fr-mx-auto">
                  <h4 class="fr-h6 fr-mt-5w">Vous ne trouvez pas ici votre situation actuelle ?</h4>
                  <p>
                    <button type="button" class="fr-btn fr-btn--tertiary" data-fr-opened="false" aria-controls="fr-modal-feedback">
                      Racontez-nous votre besoin
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <div class="fr-container fr-mt-4w">
      <div id="a-propos" class="fr-grid-row fr-grid-row--center">
        <section class="fr-col fr-col-12 fr-col-md-8 fr-m-md-auto">
          <h3>À propos d'Aides Agri</h3>
          <p>Aides Agri a pour ambition de recenser les aides des partenaires publics à destination des agriculteurs, de les rendre visibles et d'aiguiller les agriculteurs selon leur besoin.</p>
          <p>Ce service fait partie des solutions mises en œuvre par le Ministère de l’Agriculture et de la Souveraineté Alimentaire dans le cadre de la simplification numérique. La méthode de fabrication employée est <a class="fr-link" href="https://beta.gouv.fr/startups/plateforme-agriculteurs.html" target="_blank">la démarche dite “beta.gouv”</a> qui met l’usager au centre pour répondre vraiment à ses besoins.</p>
          <p>Aides Agri est aujourd’hui en phase de construction, une étape expérimentale qui signifie que le service n’est pas abouti et que nous apportons des améliorations fréquentes et importantes.</p>
        </section>
      </div>
    </div>
  </main>

  {% include "ui/blocks/footer.html" %}
  {% dsfr_js nonce=request.csp_nonce %}
{% endblock body %}
