{% extends "agri/_form.html" %}

{% load dsfr_tags static ui_tags %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'agri/step-2.css' %}">
{% endblock extra_css %}

{% block modals %}
  {% include 'agri/blocks/modal_feedback_themes_sujets.html' with form=feedback_themes_sujets_form %}
{% endblock modals %}

{% block title %}Votre projet{% endblock title %}
{% block h1 %}Votre projet.{% endblock h1 %}

{% block action %}{% url 'agri:step-3' %}{% endblock action %}

{% block extra_form_attributes %}
  data-controller="dsfr-form"
  data-action="change->dsfr-form#validateCustomFields"
  data-dsfr-form-checkbox-group-field-outlet="[data-controller=checkbox-group-field]"
{% endblock extra_form_attributes %}

{% block form %}
<div id="theme" class="fr-tile fr-tile--horizontal fr-tile--sm fr-mb-3w fr-border-plain--blue-france">
  <div class="fr-tile__body">
    <p class="fr-tile__title">{{ theme.nom }}</p>
    <p class="fr-tile__desc fr-pb-0">{{ theme.description }}</p>
  </div>
</div>

<fieldset class="fr-fieldset fr-grid-row fr-grid-row--gutters fr-mt-0 fr-mb-4w"
     data-controller="checkbox-group-field"
     data-checkbox-group-field-required-value="true"
>
  <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="checkboxes-legend">
      Sélectionnez une ou plusieurs options.
  </legend>
  {% for id, sujet in sujets.items %}
  <div class="fr-col fr-col-12 sujet">
    <div class="fr-checkbox-group">
      <input id="{{ id }}" type="checkbox" name="sujets" value="{{ sujet.pk }}">
      <label class="fr-label" for="{{ id }}">{{ sujet.nom }}</label>
    </div>
  </div>
  {% endfor %}
  <div class="fr-error-text fr-icon-error-line fr-hidden" data-checkbox-group-field-target="error" role="alert">
    Veuillez sélectionner au moins un sujet pour passer à la suite
  </div>
</fieldset>
{% endblock form %}

{% block main_col_footer %}
<div id="cta-feedback">
  <h2 class="fr-text--lg fr-mt-5w">Vous ne trouvez pas votre besoin ?</h2>
  <p>
    <button type="button" class="fr-btn fr-btn--tertiary" data-fr-opened="false" aria-controls="fr-modal-feedback">
      Expliquez-nous.
    </button>
  </p>
</div>
{% endblock main_col_footer %}
