{% extends "agri/_form.html" %}

{% load dsfr_tags static ui_tags %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'ui/components/tile_checkbox.css' %}">
  <link rel="stylesheet" href="{% static 'agri/step-2.css' %}">

  <script type="importmap">
  {
    "imports": {
      "@hotwired/stimulus": "{% static 'vendor/stimulus.js' %}",
      "checkbox-group-field": "{% static 'ui/controllers/checkbox_group_field.js' %}",
      "form-with-custom-fields": "{% static 'ui/controllers/form_with_custom_fields.js' %}",
      "summary-mobile": "{% static 'agri/summary-mobile.js' %}"
    }
  }
  </script>
  <script type="module">
    import { Application } from "@hotwired/stimulus"
    import { CheckboxGroupField } from "checkbox-group-field"
    import { FormWithCustomFields } from "form-with-custom-fields"
    import { SummaryMobile } from "summary-mobile"

    window.Stimulus = Application.start()

    Stimulus.register("checkbox-group-field", CheckboxGroupField)
    Stimulus.register("form-with-custom-fields", FormWithCustomFields)
    Stimulus.register("summary-mobile", SummaryMobile)
  </script>

{% endblock extra_css %}

{% block h2 %}Quels sont les sujets qui correspondent à votre projet ?{% endblock %}

{% block action %}{% url 'agri:step-3' %}{% endblock action %}

{% block extra_form_attributes %}
  data-controller="form-with-custom-fields"
  data-action="submit->form-with-custom-fields#submit change->form-with-custom-fields#validate"
  data-form-with-custom-fields-checkbox-group-field-outlet="[data-controller=checkbox-group-field]"
{% endblock extra_form_attributes %}

{% block form %}
<div class="fr-grid-row fr-grid-row--gutters"
     data-controller="checkbox-group-field"
     data-checkbox-group-field-required-value="true"
>
  {% for id, sujet in sujets.items %}
  <div class="fr-col fr-col-12">
    {% ui_tile_checkbox id=id name="sujets" value=sujet.pk title=sujet.nom description=sujet.description extra_classes="fr-tile--horizontal fr-tile--sm" %}
  </div>
  {% endfor %}
  <div class="fr-error-text fr-icon-error-line fr-hidden" data-checkbox-group-field-target="error">
    Veuillez sélectionner au moins un sujet pour passer à la suite
  </div>
</div>
{% endblock form %}
