{% extends "agri/_form.html" %}

{% load dsfr_tags static ui_tags %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'ui/components/select-rich.css' %}">
{% endblock extra_css %}

{% block extra_head_js %}
  <script type="module">
    import { Application } from "stimulus"
    import { DsfrForm } from "dsfr-form"
    import { SelectRich } from "select-rich"
    import { SummaryMobile } from "summary-mobile"

    window.Stimulus = Application.start()

    Stimulus.register("dsfr-form", DsfrForm)
    Stimulus.register("select-rich", SelectRich)
    Stimulus.register("summary-mobile", SummaryMobile)
  </script>
{% endblock extra_head_js %}

{% block title %}Votre exploitation{% endblock title %}

{% block action %}{% url 'agri:step-5' %}{% endblock action %}

{% block extra_form_attributes %}
  data-controller="dsfr-form"
  data-action="change->dsfr-form#validateCustomFields"
  data-dsfr-form-select-rich-outlet="[data-controller=select-rich]"
{% endblock extra_form_attributes %}

{% block form %}
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col">
    <fieldset class="fr-select-rich fr-fieldset"
               aria-label="SIRET de l’entreprise"
               id="select-rich-siret"
               data-controller="select-rich"
               data-select-rich-name-value="siret"
               data-select-rich-multi-value="false"
               data-select-rich-required-value="true"
               hx-trigger="change"
               hx-get="{% url 'agri:step-4' %}"
               hx-include="closest form"
               hx-target="#step-4"
               hx-select=".form-fields, #form-buttons"
               hx-disinherit="*"
    >
      <legend class="fr-label fr-mb-1w">
        Recherchez votre entreprise
        <span class="fr-hint-text">Par nom, par SIRET ou SIREN ; par ex. : "Maraichage Carpentras" ou "130 025 265 00013"</span>
      </legend>
      <div class="fr-fieldset__content">
        <div class="fr-search-bar fr-search-bar--lg fr-my-2w" role="search">
          <label class="fr-label" for="select-rich-search-siret">Rechercher</label>
          <input type="search"
                 id="select-rich-search-siret"
                 class="fr-input"
                 placeholder="Rechercher"
                 name="siret-search"
                 autocomplete="false"
                 data-action="focus->select-rich#focus"
                 data-select-rich-target="searchButton"
                 onchange="event.stopPropagation()"
          >
          <button type="submit"
                  class="fr-btn"
                  hx-get="{% url 'agri:search-etablissement' %}"
                  hx-target="#select-rich-options-siret"
                  hx-include="#select-rich-search-siret"
                  hx-disabled-elt="this"
                  data-action="click->select-rich#externalSearch"
          >
            Rechercher
          </button>
        </div>
        <div class="fr-collapse fr-menu" data-select-rich-target="entries" id="select-rich-siret-entries">
          <div id="select-rich-options-siret" class="select-rich__options"></div>
        </div>
        <p class="fr-error-text fr-hidden" data-select-rich-target="error" role="alert">Veuillez sélectionner un établissement pour passer à la suite, cela nous permettra de vous proposer des aides adaptées.</p>
      </div>
    </fieldset>
  </div>
</div>
<div id="step-4"></div>
{% endblock form %}

{% block form_buttons %}{% endblock form_buttons %}