{% extends "agri/_form.html" %}

{% load dsfr_tags static ui_tags %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'ui/components/select-rich.css' %}">

  <script type="importmap">
  {
    "imports": {
      "@hotwired/stimulus": "{% static 'vendor/stimulus.js' %}",
      "select-rich": "{% static 'ui/components/select-rich.js' %}",
      "summary-mobile": "{% static 'agri/summary-mobile.js' %}",
      "step4": "{% static 'agri/step-4.js' %}"
    }
  }
  </script>
  <script type="module">
    import { Application } from "@hotwired/stimulus"
    import { SelectRich } from "select-rich"
    import { SummaryMobile } from "summary-mobile"
    import { Step4 } from "step4"

    window.Stimulus = Application.start()

    Stimulus.register("select-rich", SelectRich)
    Stimulus.register("summary-mobile", SummaryMobile)
    Stimulus.register("step4", Step4)
  </script>

{% endblock extra_css %}

{% block extra_js %}
  {{ block.super }}
  <script type="module" src="{% static 'vendor/htmx.esm.js' %}"></script>
{% endblock extra_js %}

{% block h1 %}Votre exploitation.{% endblock %}

{% block h2 %}Afin de vous proposer des aides adéquates, nous avons besoin d’en savoir un peu plus sur votre
  exploitation.{% endblock h2 %}

{% block action %}{% url 'agri:step-5' %}{% endblock action %}

{% block extra_form_attributes %}
  data-controller="step4"
  data-action="submit->step4#submit change->step4#validate"
  data-step4-select-rich-outlet="[data-controller=select-rich]"
{% endblock extra_form_attributes %}

{% block form %}
<h3 class="fr-h6 fr-icon-identity-fill fr-heading--soft fr-btn--icon-left fr-mb-2w">Identité de l'exploitation</h3>
<div class="fr-highlight fr-mb-4w">
  <p class="fr-mb-2v">Vérifiez et complétez les informations suivantes déduites de votre SIRET.</p>
  <p class="fr-mb-2v">Toutes les questions ci-dessous nécessitent une réponse afin de vous proposer des dispositifs pertinents.</p>
</div>
<div class="fr-grid-row">
  <fieldset class="fr-fieldset fr-col">
    <div class="fr-fieldset__element fr-mt-2v">
      <span class="fr-label fr-mb-2v">Nom de l'exploitation et SIRET</span>
      {% comment %}
      TODO reenable when https://github.com/numerique-gouv/django-dsfr/pull/213 is merged
      {% dsfr_tag label=etablissement.nom|default_if_none:etablissement.societe.nom_complet is_dismissable=True onclick="history.back()" %}
      {% endcomment %}
      <button type="button" class="fr-tag fr-tag--dismiss" aria-label="Retirer le filtre Label of the tag item" onclick="document.getElementById('step-4').innerHTML = ''">
        {{ etablissement.nom|default_if_none:etablissement.societe.nom_complet }} - {{ etablissement.siret }}
      </button>
    </div>
    <div class="fr-fieldset__element">
      <span class="fr-label fr-mb-2v">Commune</span>
      {% dsfr_tag label=commune.code_postal|add:" "|add:commune.nom is_dismissable=True onclick="this.parentElement.removeChild(this.nextElementSibling);this.nextElementSibling.classList.remove('fr-hidden')" %}
      <input type="hidden" name="commune" value="{{ commune.numero }}" data-step4-target="commune">
      {% ui_select_rich_single name="commune" required=True search_url="agri:search-commune" search_field_name="commune-search" extra_classes="fr-hidden" %}
    </div>
    <div class="fr-fieldset__element fr-mt-2v">
      <label for="input-forme-juridique" class="fr-label fr-mb-2v">Forme juridique</label>
      {% dsfr_tag label=etablissement.societe.libelle_nature_juridique is_dismissable=True onclick="this.nextElementSibling.classList.remove('fr-hidden')" %}
      <select id="input-forme-juridique" class="fr-select fr-hidden">
      {% for code, label in categories_juridiques.items %}
        <option value="{{ code }}" {% if code == etablissement.societe.nature_juridique %}selected{% endif %}>{{ label }}</option>
      {% endfor %}
      </select>
    </div>
    <div class="fr-fieldset__element fr-mt-2v">
      <label for="input-date-installation" class="fr-label fr-mb-2v">Date d'installation</label>
      {% dsfr_tag label=etablissement.date_creation|date:"SHORT_DATE_FORMAT" is_dismissable=True onclick="this.nextElementSibling.classList.remove('fr-hidden')" %}
      <input type="date" id="input-date-installation"
              class="fr-input fr-hidden"
             name="date_installation"
             value="{{ etablissement.date_creation|date:"c" }}">
    </div>
  </fieldset>
</div>
{% endblock form %}
