{% extends "agri/_form.html" %}

{% load dsfr_tags static ui_tags %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'ui/components/dropdown.css' %}">
  <script type="module">
    import { Application } from "@hotwired/stimulus"
    import { Step3 } from "step-3"
    window.Stimulus ??= Application.start()

    Stimulus.register("step3", Step3)
  </script>
{% endblock extra_css %}

{% block extra_js %}
  {{ block.super }}
  <script type="module" src="{% static 'vendor/htmx.esm.js' %}"></script>
{% endblock extra_js %}

{% block h1 %}Votre exploitation.{% endblock %}

{% block h2 %}Afin de vous proposer des aides adéquates, nous avons besoin d’en savoir un peu plus sur votre
  exploitation.{% endblock %}

{% block action %}{% url 'agri:step-4' %}{% endblock action %}

{% block extra_form_attributes %}data-controller="step3"{% endblock extra_form_attributes %}

{% block form %}
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col">
    <fieldset class="fr-fieldset" aria-label="SIRET de l'entreprise">
      <div class="fr-fieldset__element">
        <div class="fr-input-group">
          <label class="fr-label fr-mb-1w" for="siret-search">
            Recherchez votre entreprise (SIRET, SIREN, nom, etc.)
            <span class="fr-hint-text">ex : "Maraichage Carpentras" ou "130 025 265 00013"</span>
          </label>
          <div class="fr-search-bar" role="search">
            <label class="fr-label" for="siret-search">Recherche</label>
            <input type="hidden" name="siret"
                   data-step3-target="siret"
                   data-action="change->step3#change"
            >
            <input id="siret-search" class="fr-input" name="siret-search"
                   placeholder="Rechercher" type="search"
                   aria-describedby="siret-messages"
                   data-step3-target="siretSearch"
            >
            <button class="fr-btn" title="Rechercher"
                    hx-get="{% url 'agri:search-etablissement' %}"
                    hx-target="#siret-messages"
                    hx-include="#siret-search"
                    onclick="this.disabled = true"
                    hx-on::after-request="this.disabled = false"
            >Rechercher</button>
          </div>
          <div class="fr-messages-group" id="siret-messages" aria-live="assertive"></div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
{% endblock form %}
