{% extends "agri/_form.html" %}

{% load dsfr_tags static ui_tags %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'ui/components/dropdown.css' %}">

  <script type="module">
    import { Application } from "@hotwired/stimulus"
    import { Suggest } from "suggest"
    window.Stimulus ??= Application.start()

    Stimulus.register("suggest", Suggest)
  </script>
{% endblock extra_css %}

{% block h1 %}Votre exploitation{% endblock %}

{% block h2 %}Afin de vous proposer des aides adéquates, nous avons besoin d’en savoir un peu plus sur votre
  exploitation.{% endblock h2 %}

{% block action %}{% url 'agri:step-5' %}{% endblock action %}

{% block form %}
<div class="fr-grid-row">
  <fieldset class="fr-fieldset fr-col">
    <div class="fr-fieldset__element">
      <span class="fr-label">Vos activités</span>
      {% if not naf %}
        <span class="fr-error-text">Nous n'avons pas pu trouver l'activité de votre établissement, veuillez sélectionner au moins une activité ici :</span>
      {% endif %}
      {% ui_searchbar_autocomplete options=mapping_naf initials=naf %}
    </div>
    <div class="fr-fieldset__element">
      <label for="input-cp" class="fr-label">Code postal</label>
      <input id="input-cp" class="fr-input" type="text" maxlength="5" minlength="4" pattern="[0-9]?[0-9]{4}"
             name="cp" value="{{ etablissement.code_postal }}">
    </div>
    <div class="fr-fieldset__element">
      <label for="input-effectif" class="fr-label">Effectif</label>
      <select id="input-effectif" class="fr-select" name="tranche_effectif_salarie">
        {% for code, label in mapping_tranches_effectif.items %}
        <option value="{{ code }}" {% if code == etablissement.tranche_effectif_salarie %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
      </select>
    </div>
  </fieldset>
</div>
{% endblock form %}
