{% extends "agri/_form.html" %}

{% load dsfr_tags static ui_tags %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'ui/components/select-rich.css' %}">
  <link rel="stylesheet" href="{% static 'ui/components/checkbox-group-field.css' %}">
{% endblock extra_css %}

{% block extra_head_js %}
  <script type="module">
    import { Application } from "stimulus"
    import { DsfrForm } from "dsfr-form"
    import { CheckboxGroupField } from "checkbox-group-field"
    import { SelectRich } from "select-rich"
    import { SummaryMobile } from "summary-mobile"

    window.Stimulus = Application.start()

    Stimulus.register("dsfr-form", DsfrForm)
    Stimulus.register("checkbox-group-field", CheckboxGroupField)
    Stimulus.register("select-rich", SelectRich)
    Stimulus.register("summary-mobile", SummaryMobile)
  </script>
{% endblock extra_head_js %}

{% block title %}Votre exploitation{% endblock title %}
{% block h1 %}Votre exploitation.{% endblock h1 %}

{% block action %}{% url 'agri:results' %}{% endblock action %}

{% block extra_form_attributes %}
  data-controller="dsfr-form"
  data-dsfr-form-select-rich-outlet="[data-controller=select-rich]"
  data-dsfr-form-checkbox-group-field-outlet="[data-controller=checkbox-group-field]"
{% endblock extra_form_attributes %}

{% block form %}
<div class="fr-alert fr-alert--info fr-alert--sm fr-mb-3w">
  <p>Veuillez vérifier et compléter les champs ci-dessous. Ils nous permettront de sélectionner les dispositifs pertinents.</p>
</div>
<div class="fr-grid-row">
  <fieldset class="fr-fieldset fr-col">
    <div class="fr-fieldset__element fr-mb-3w fr-select-group">
      <label for="input-effectif" class="fr-label fr-mb-2v">
        Effectifs
        {% if not tranche_effectif_salarie %}
        <span class="fr-hint-text fr-info-text">Nous n’avons pas trouvé l’effectif de votre exploitation, veuillez l’indiquer ici.</span>
        {% endif %}
      </label>
      {% if tranche_effectif_salarie %}
        {% dsfr_tag label=tranche_effectif_salarie is_dismissable=True onclick="this.nextElementSibling.classList.remove('fr-hidden')" %}
      {% endif %}
      <select id="input-effectif"
              class="fr-select {% if tranche_effectif_salarie %}fr-hidden{% endif %}"
              name="tranche_effectif_salarie"
              required
      >
        <option value="" disabled {% if not tranche_effectif_salarie %}selected{% endif %}>Sélectionner une option</option>
        {% for code, label in mapping_tranches_effectif.items %}
        <option value="{% if code %}{{ code }}{% endif %}" {% if code == etablissement.tranche_effectif_salarie %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
      </select>
      <span class="fr-error-text fr-hidden">Ce champ est requis pour passer à la suite</span>
    </div>
    <div class="fr-fieldset__element">
      {% ui_select_rich_multi label="Filières" name="filieres" required=True options=filieres initials=filieres_initials searchable=True search_placeholder="élevage, légumes, etc." with_tags=True helper=filieres_helper %}
    </div>
    <div class="fr-fieldset__element">
      {% ui_checkbox_group_field label="Faites-vous partie d’un ou plusieurs regroupements ? (optionnel)" name="regroupements" options=groupements required=False %}
    </div>
  </fieldset>
</div>
{% endblock form %}
