{% extends "agri/_form.html" %}

{% load dsfr_tags static ui_tags %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'ui/components/select-rich.css' %}">
  <link rel="stylesheet" href="{% static 'ui/components/checkbox-group-field.css' %}">

  <script type="importmap">
  {
    "imports": {
      "@hotwired/stimulus": "{% static 'vendor/stimulus.js' %}",
      "checkbox-group-field": "{% static 'ui/components/checkbox-group-field.js' %}",
      "form-with-custom-fields": "{% static 'ui/controllers/form_with_custom_fields.js' %}",
      "select-rich": "{% static 'ui/components/select-rich.js' %}",
      "summary-mobile": "{% static 'agri/summary-mobile.js' %}"
    }
  }
  </script>
  <script type="module">
    import { Application } from "@hotwired/stimulus"
    import { CheckboxGroupField } from "checkbox-group-field"
    import { FormWithCustomFields } from "form-with-custom-fields"
    import { SelectRich } from "select-rich"
    import { SummaryMobile } from "summary-mobile"

    window.Stimulus = Application.start()

    Stimulus.register("checkbox-group-field", CheckboxGroupField)
    Stimulus.register("form-with-custom-fields", FormWithCustomFields)
    Stimulus.register("select-rich", SelectRich)
    Stimulus.register("summary-mobile", SummaryMobile)
  </script>
{% endblock extra_css %}

{% block title %}Votre exploitation{% endblock title %}
{% block h1 %}Votre exploitation.{% endblock h1 %}

{% block action %}{% url 'agri:results' %}{% endblock action %}

{% block extra_form_attributes %}
  data-controller="form-with-custom-fields"
  data-action="submit->form-with-custom-fields#submit"
  data-form-with-custom-fields-select-rich-outlet="[data-controller=select-rich]"
  data-form-with-custom-fields-checkbox-group-field-outlet="[data-controller=checkbox-group-field]"
{% endblock extra_form_attributes %}

{% block form %}
<h3 class="fr-h6 fr-icon-seedling-fill fr-heading--soft fr-btn--icon-left fr-mb-2w">Votre activité</h3>
<div class="fr-highlight fr-mb-4w">
  <p class="fr-mb-2v">Vérifiez et complétez les informations suivantes déduites de votre SIRET.</p>
  <p class="fr-mb-2v">Toutes les questions ci-dessous nécessitent une réponse afin de vous proposer des dispositifs pertinents.</p>
</div>
<div class="fr-grid-row">
  <fieldset class="fr-fieldset fr-col">
    <div class="fr-fieldset__element fr-mb-3w">
      <label for="input-effectif" class="fr-label fr-mb-2v">Effectif de l’exploitation</label>
      {% for code, label in mapping_tranches_effectif.items %}
        {% if code == etablissement.tranche_effectif_salarie %}
          {% dsfr_tag label=label is_dismissable=True onclick="this.nextElementSibling.classList.remove('fr-hidden')" %}
        {% endif %}
      {% endfor %}
      <select id="input-effectif" class="fr-select fr-hidden" name="tranche_effectif_salarie">
        {% for code, label in mapping_tranches_effectif.items %}
        <option value="{% if code %}{{ code }}{% endif %}" {% if code == etablissement.tranche_effectif_salarie %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="fr-fieldset__element fr-input-group fr-mb-3w">
      {% ui_select_rich_multi label="Filières" name="filieres" required=True options=filieres initials=filieres_initials searchable=True search_placeholder="élevage, légumes, etc." with_tags=True helper=filieres_helper %}
    </div>
    <div class="fr-fieldset__element">
      {% ui_checkbox_group_field label="Faites-vous partie d’un ou plusieurs regroupements ?" name="regroupements" options=groupements error_message="Ce champ est requis pour passer à la suite." %}
    </div>
  </fieldset>
</div>
{% endblock form %}
