{% extends "agri/_form.html" %}

{% load dsfr_tags static ui_tags %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'ui/components/select-rich.css' %}">

  <script type="importmap">
  {
    "imports": {
      "@hotwired/stimulus": "{% static 'vendor/stimulus.js' %}",
      "form-with-custom-fields": "{% static 'ui/controllers/form_with_custom_fields.js' %}",
      "select-rich": "{% static 'ui/components/select-rich.js' %}",
      "summary-mobile": "{% static 'agri/summary-mobile.js' %}",
      "step4": "{% static 'agri/step-4.js' %}"
    }
  }
  </script>
  <script type="module">
    import { Application } from "@hotwired/stimulus"
    import { FormWithCustomFields } from "form-with-custom-fields"
    import { SelectRich } from "select-rich"
    import { SummaryMobile } from "summary-mobile"
    import { Step4 } from "step4"

    window.Stimulus = Application.start()

    Stimulus.register("form-with-custom-fields", FormWithCustomFields)
    Stimulus.register("select-rich", SelectRich)
    Stimulus.register("summary-mobile", SummaryMobile)
    Stimulus.register("step4", Step4)
  </script>
{% endblock extra_css %}

{% block extra_js %}
  {{ block.super }}
  <script type="module" src="{% static 'vendor/htmx.esm.js' %}"></script>
{% endblock extra_js %}

{% block h1 %}Votre exploitation.{% endblock %}

{% block h2 %}Afin de vous proposer des aides adéquates, nous avons besoin d’en savoir un peu plus sur votre
  exploitation.{% endblock %}

{% block action %}{% url 'agri:step-5' %}{% endblock action %}

{% block extra_form_attributes %}
  data-controller="step4"
  data-action="submit->step4#submit change->step4#validate"
  data-step4-select-rich-outlet="[data-controller=select-rich]"
{% endblock extra_form_attributes %}

{% block form %}
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col">
    <fieldset class="fr-fieldset" aria-label="SIRET de l'entreprise">
      <div class="fr-fieldset__element">
        <div class="fr-select-rich fr-input-group"
             id="select-rich-siret"
             data-controller="select-rich"
             data-select-rich-multi-value="false"
             data-select-rich-required-value="true"
             hx-trigger="change"
             hx-get="{% url 'agri:step-4' %}"
             hx-include="closest form"
             hx-target="#step-4"
             hx-select=".form-fields"
             hx-disinherit="*"
        >
         <label class="fr-label fr-mb-1w">
            Recherchez votre entreprise (SIRET, SIREN, nom, etc.)
            <span class="fr-hint-text">ex : "Maraichage Carpentras" ou "130 025 265 00013"</span>
          </label>
          <div class="fr-search-bar fr-my-2w" role="search">
            <label class="fr-label" for="select-rich-search-siret">Rechercher</label>
            <input type="search"
                   id="select-rich-search-siret"
                   class="fr-input"
                   placeholder="Rechercher"
                   name="siret-search"
                   autocomplete="false"
                   data-action="focus->select-rich#focus"
                   onchange="event.stopPropagation()"
            >
            <button type="button" class="fr-btn"
                    title="Rechercher"
                    hx-get="{% url 'agri:search-etablissement' %}"
                    hx-target="#select-rich-options-siret"
                    hx-include="#select-rich-search-siret"
                    data-action="click->select-rich#externalSearch"
                    hx-on::after-request="this.disabled = false"
            >
              Rechercher
            </button>
          </div>
          <fieldset class="fr-collapse fr-menu"
                    data-select-rich-target="entries"
                    id="select-rich-siret-entries"
                    hx-on::after-settle="this.classList.add('fr-collapse--expanded')"
          >
            <div id="select-rich-options-siret" class="select-rich__options"></div>
          </fieldset>
          <p class="fr-error-text fr-hidden" data-select-rich-target="error">Veuillez sélectionner un établissement pour passer à la suite, cela nous permettra de vous proposer des aides adaptées.</p>
        </div>
      </div>
    </fieldset>
  </div>
</div>
<div id="step-4"></div>
{% endblock form %}
