{% extends "agri/_form.html" %}

{% load dsfr_tags static ui_tags %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'agri/step-2.css' %}">
{% endblock extra_css %}

{% block extra_head_js %}
  <script type="importmap">
  {
    "imports": {
      "@hotwired/stimulus": "{% static 'vendor/stimulus.js' %}",
      "dsfr-form": "{% static 'ui/controllers/dsfr_form.js' %}",
      "checkbox-group-field": "{% static 'ui/components/checkbox-group-field.js' %}",
      "summary-mobile": "{% static 'agri/summary-mobile.js' %}"
    }
  }
  </script>
  <script type="module">
    import { Application } from "@hotwired/stimulus"
    import { DsfrForm } from "dsfr-form"
    import { CheckboxGroupField } from "checkbox-group-field"
    import { SummaryMobile } from "summary-mobile"

    window.Stimulus = Application.start()

    Stimulus.register("dsfr-form", DsfrForm)
    Stimulus.register("checkbox-group-field", CheckboxGroupField)
    Stimulus.register("summary-mobile", SummaryMobile)
  </script>

  <script type="module" src="{% static 'vendor/htmx.esm.js' %}"></script>
{% endblock extra_head_js %}

{% block modals %}
  {% include 'agri/blocks/modal_feedback_themes_sujets.html' %}
{% endblock modals %}

{% block title %}Votre projet{% endblock title %}
{% block h1 %}Votre projet.{% endblock h1 %}
{% block h2 %}{% endblock %}

{% block action %}{% url 'agri:step-3' %}{% endblock action %}

{% block extra_form_attributes %}
  data-controller="dsfr-form"
  data-action="change->dsfr-form#validateCustomFields"
  data-dsfr-form-checkbox-group-field-outlet="[data-controller=checkbox-group-field]"
{% endblock extra_form_attributes %}

{% block form %}
<fieldset class="fr-fieldset fr-grid-row fr-grid-row--gutters"
     data-controller="checkbox-group-field"
     data-checkbox-group-field-required-value="true"
>
  <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="checkboxes-legend">
      <h2 class="fr-h6">Quels sont les sujets qui correspondent à votre projet ?</h2>
  </legend>
  {% for id, sujet in sujets.items %}
  <div class="fr-col fr-col-12 sujet">
    <div class="fr-checkbox-group">
      <input id="{{ id }}" type="checkbox" name="sujets" value="{{ sujet.pk }}">
      <label class="fr-label" for="{{ id }}">{{ sujet.nom }}</label>
    </div>
  </div>
  {% endfor %}
  <div class="fr-error-text fr-icon-error-line fr-hidden" data-checkbox-group-field-target="error">
    Veuillez sélectionner au moins un sujet pour passer à la suite
  </div>
</fieldset>
{% endblock form %}

{% block main_col_footer %}
<div id="cta-feedback">
  <h3 class="fr-text--lg fr-mt-5w">Vous ne trouvez pas ici votre situation actuelle ?</h3>
  <p>
    <button type="button" class="fr-btn fr-btn--tertiary" data-fr-opened="false" aria-controls="fr-modal-feedback">
      Racontez-nous votre besoin
    </button>
  </p>
</div>
{% endblock main_col_footer %}
