{% load static dsfr_tags agri_tags %}

{% for theme in themes %}
  <div class="fr-col-12 fr-col-sm-6">
    {% if theme.urgence %}
      {% dsfr_tile heading_tag="h4" title=theme.nom description=theme.description url=theme.pk|agri_theme_to_step2_link image_path="/static/dsfr/dist/icons/system/alarm-warning-line.svg" extra_classes="fr-tile--horizontal fr-tile--with-icon" %}
    {% else %}
      {% dsfr_tile heading_tag="h4" title=theme.nom description=theme.description url=theme.pk|agri_theme_to_step2_link extra_classes="fr-tile--horizontal" %}
    {% endif %}
  </div>
{% endfor %}
