<ul class="fr-dropdown">
{% for hit in hits %}
  {% for etablissement in hit.matching_etablissements %}
    {% include "agri/blocks/search_company/etablissement.html" with hit=hit etablissement=etablissement only %}
  {% empty %}
    {% include "agri/blocks/search_company/etablissement.html" with hit=hit etablissement=hit.siege only %}
  {% endfor %}
{% empty %}
  <li class="fr-dropdown__item">
    <div class="fr-p-2w fr-icon-error-line">Votre recherche n'a donné aucun résultat. Veuillez réessayer ou visiter <a href="https://annuaire-entreprises.data.gouv.fr/" target="_blank">https://annuaire-entreprises.data.gouv.fr/</a> pour trouver votre exploitation.</div>
  </li>
{% endfor %}
</ul>

{% for error in errors %}
  <p class="fr-error-text">{{ error }}</p>
{% endfor %}
