<div role="alert">
{% for hit in hits %}
  {% for etablissement in hit.matching_etablissements %}
    {% include "agri/blocks/search_etablissement/etablissement.html" with self=self hit=hit etablissement=etablissement value=etablissement.siret label_short=etablissement.siret only %}
  {% empty %}
    {% include "agri/blocks/search_etablissement/etablissement.html" with self=self hit=hit etablissement=hit.siege value=hit.siege.siret label_short=hit.siege.siret only %}
  {% endfor %}
{% empty %}
  {% if not error %}
  <p class="fr-select-rich__item fr-p-2w fr-icon-error-line">
    Votre recherche n’a donné aucun résultat. Veuillez réessayer (peut-être en précisant le nom de votre commune ?) ou visiter <a href="https://annuaire-entreprises.data.gouv.fr/" target="_blank">https://annuaire-entreprises.data.gouv.fr/</a> pour trouver votre exploitation.
  </p>
  {% endif %}
{% endfor %}

{% if error %}
  <p id="select-rich-error-siret"
     class="fr-error-text"
     data-select-rich-target="error"
     hx-swap-oob="true"
  >{{ error }}</p>
{% endif %}
</div>